/* Globales */
body {
    margin : 0;
}


/* Thibaud */


/* Arnaud */


/* Maxime */

:root {
    --write: #f1f1f1;
    --background: #262626;
}


body{
    background-color: var(--background);
    color: var(--write);
}